{% extends "layout.html" %}

{% block mainContent %}

<h2>THE THREE MUSKETEERS OF YALE SCHOOL OF MANAGEMENT</h2>
<img src="https://groups.som.yale.edu/upload/yalesom/2015/image_346296_team_photo_218111429_218111429.png">
  <br><br>
  <img id="happy-swan-headshot" src="http://i57.tinypic.com/vr5um0.png"/>
    &nbsp
  <img id="brave-cheetah-headshot" src="http://i57.tinypic.com/10gbl9v.png"/>
  <img id="smiling-wombat-headshot" src="http://i62.tinypic.com/2n9itt.png"/>

  <p></p>
  &nbsp
  <span id="happy-swan-name">Shaan Scrum</span>
  &nbsp &nbsp &nbsp &nbsp
  <span id="brave-cheetah-name">Michael Lean</span>
  &nbsp &nbsp &nbsp &nbsp
  <span id="smiling-wombat-name">Laura Sprints</span>
{% endblock %}
