{% extends "layout.html" %}

{% block mainContent %}

  <img id="happy-swan-headshot" src="http://i57.tinypic.com/vr5um0.png"/>
    &nbsp
  <img id="brave-cheetah-headshot" src="http://i57.tinypic.com/10gbl9v.png"/>
  <img id="smiling-wombat-headshot" src="http://i62.tinypic.com/2n9itt.png"/>

  <p></p>
  &nbsp
  <span id="happy-swan-name">Shaan Patel</span>
  &nbsp &nbsp &nbsp &nbsp
  <span id="brave-cheetah-name">Michael Linares</span>
  &nbsp &nbsp &nbsp &nbsp
  <span id="smiling-wombat-name">Laura Li</span>
{% endblock %}
