{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>{{event.title}}</h1>
  </header>
{% endblock %}


{% block mainContent %}

<p>
  <img src="{{event.image}}"><br>
  <strong>Where</strong>: {{event.location}}<br>
  <strong>When</strong>: <time datetime="{{event.date}}">{{event.date|prettyDate}}</time> <Br>
  <strong>Who</strong>: {{event.attending.length}} attending so far: {{event-attending}} <br>
  
</p>
  
 

{% endblock %}

  {% block footer %}
      <footer><a href="/">Home</a> <a href="/about">About us</a></footer>
  {% endblock %}