{% extends "layout.html" %}

{% block header %}
  <header>
    <h1 id="title">{{event.title}}</h1>
  </header>
{% endblock %}


{% block mainContent %}

<p>
  <img src="{{event.image}}" id="image"><br>
  <strong>Where</strong>: <span id="location">{{event.location}}</span><br>
  <strong>When</strong>: <span id="date"><time datetime="{{event.date}}">{{event.date|prettyDate}}</time></span> <Br>
  <strong>Who</strong>: {{event.attending.length}} attending so far: 
  <ul id="attendees">
    {% for person in event.attending %}
    <li>{{person}}</li>
    {% endfor %}
    </ul><br>
</p>
  
 

{% endblock %}

  {% block footer %}
      <footer><a href="/">Home</a> <a href="/about">About us</a></footer>
  {% endblock %}