{% extends "layout.html" %}

{% block mainContent %}

SOM Three Musketeers <Br>
MGT656 Project Status Report <Br>
February 11, 2015<br>
<br>
Group members <br>
Laura Li (smiling wombat)<Br> 
Michael Linares (brave cheetah)<br>
Shaan Patel (happy swan)<br>
<br>
<br>


<strong>Weekly recap </strong> <br>

This past week we met primarily in class and decided the following: <Br>
 
1. Shaan would act as the PM with the following responsibilities: <Br>
a.Allocating resources and setting time frames for stories <br>
b.Approving all codes and merge them into the master file, and updating the changes on Heroku app <Br>
c.Writing progress report <Br>
d.RSVP details of the app <Br>
e.Assuring that mocha tests run reliably <Br>
 <Br>
2. Michael would act as one of the coders with the following responsibilities:<Br>
a.Creating and editing event details page <br>
b.A/B testing of the application <br>
c.Implementing Google Analytics <br>
 <br>
3. Laura would act as one of the coders and our designer with the following responsibilities:<Br>
a.Initial design for the app <br>
b.Creating new events pages<br>
 <br>
4. The team would continue to do standups after each MGT656 class, plus group meetings or emails whenever there is any progress or issues to be discussed.<Br>

5. Sprints log for Week 3 <br>
a.Add Google Analytics<Br>
b.URGENT: Create Event Details page for each event <br>
c.RSVP 1 - As an attendee, I can visit the event detail page to RSVP for an event<Br>
d.RSVP 2 - I submit my email address by filling in a form.<br>
e.RSVP 3 - If I submit a valid email address, I see the event detail page again and it  shows my email address on there along with the other attendees.<Br>
f.FAILED TEST for the bootstrap/header/footer story. Need to fix this<br>
g.Write Sprint 3 Progress Report<br>
h.Add Laura's awesome logo to site -- fix broken link <br>
i.New events 2 - When submitted, the form should be validated: <Br>
j.New events 4 - If form is valid, you are directed to Details page <br>
k.New events 5 - If form is invalid, display errors<Br>
l.Run mocha tests before end of sprint 3<br>
m.Begin Initial Design<Br>
n.A/B test whether if event links on homepage have "RSVP" will increase   click-through rate<Br>
o.A/B test whether "donate" or "support" an event in the the donation link text will  increase conversions<br>
<br>
<strong>Burn-down chart</strong> <br>

<img src="http://i59.tinypic.com/246kw9x.png"><br><br>

<strong>Sprint completed stories</strong><br>
a.Add Google Analytics <br>
b.URGENT: Create Event Details page for each event <br>
c.RSVP 1 - As an attendee, I can visit the event detail page to RSVP for an event<br>
d.RSVP 2 - I submit my email address by filling in a form.<br>
e.RSVP 3 - If I submit a valid email address, I see the event detail page again and  it shows my email address on there along with the other attendees.<br>
f.FAILED TEST for the bootstrap/header/footer story. Need to fix this<br>
g.Write Sprint 3 Progress Report<Br><Br>
The completion of stories for week 3 was a little rocky. Overall, we were able to complete all of the stories that our non-technical background allowed. Unfortunately, despite the great videos and office hours, we were still unable to get the A/B testing working on our app. Nevertheless, we were happy with the progress we were able to make. <br>
Overall this project was a great experience for 3 SOM students who had no technical background. Being hands-on helped us not only experience the grievances many coders go go through, but also how to manage software development using lean and agile methodologies. The project also opened up our eyes to the many pitfalls that plague software development more generally, e.g. the tendency to myopically focus on user stories and forget about the bigger picture -- in this way, it's easy to see how u/x or design might get lost along the way.  
<br>

{% endblock %}
