{% extends "layout.html" %}

{% block mainContent %}

 
<p>
SOM Three Musketeers <Br>
MGT656 Project Status Report <Br>
February 11, 2015<br>
<br>
Group members <br>
Laura Li (smiling wombat)<Br> 
Michael Linares (brave cheetah)<br>
Shaan Patel (happy swan)<br>
<br>
<br>


<strong>Weekly recap </strong> <br>
We decided to continue our system of having one person act as PM and the other two as developers. As this week’s PM, Michael entered the stories into the Waffle, prioritized them in roughly chronological order, and assigned them points. (In order to ensure accuracy, we decided that the PM would assign points, but that developers would adjust them if tasks took longer or shorter than expected.) As PM, he was also responsible for scheduling stand-up meetings, meeting with professors as necessary, drafting the status report, and dealing with any outstanding issues. Laura and Shaan both picked up batches of stories and worked through them efficiently. (Please see completed sprint below.) <br>
<br>
The problem began on the last day of the sprint, when we realized we’d forgotten to set up the event details pages—which then prevented us from finishing the new event and RSVP user stories. We tried but failed to fix the problem but ran out of time. A major takeaway here was that we need to start sprints earlier; had we done that, we would have had more time to troubleshoot our issue and stay on schedule. (We should also note that one of our developers suffered from spontaneous cluster headaches.) Despite all that, we managed to get a healthy amount done, and feel good going into our last sprint. During the last sprint we’ll finish up the two outstanding user stories, analyze the site’s traffic, and then spend the rest of the time fine-tuning the site’s design.  <br>
<br>
<strong>Sprint completed stories</strong><br>
1. Completed About page with headshots<br>
2. Created New Event form <br>
3. Designed a custom logo <br>
4. Added Google Analytics to the site <br>
<br>
<strong>Burn-down chart</strong> <br>
 
<img src="http://i59.tinypic.com/2ev408l.jpg" border="0">

As we mentioned before, we did not complete all of the anticipated stories, which is why the chart ends with outstanding 16 points. Sunday’s uptick was largely due to the first curveball (install Google Analytics), which we promptly took care of.<br>   
<br>
<strong>Product backlog</strong><br> 
1. Create Event detail pages<Br>
2. Finish New Event story<br>
3. Finish RSVP story <br>
4. Use Google Analytics and a/b testing to analyze traffic and user behavior <br>
5. Discuss and implement modifications to make the site beautiful. <br>

{% endblock %}
